<div class="gap-2 flex">
    <div>
        <p-avatar size="large" style="cursor: pointer; padding: 1.8rem">
          <span class="text-base block text-center">
            <i class="fa fa-edit fa-lg"></i>
            <p style="color: #003553; font-weight: 600">Migrar</p>
          </span>
        </p-avatar>
    </div>
    <div>
        <p-avatar size="large" style="cursor: pointer; padding: 1.8rem">
          <span class="text-base block text-center">
            <i class="fa fa-edit fa-lg"></i>
            <p style="color: #003553; font-weight: 600">Migrar</p>
          </span>
        </p-avatar>
    </div>
</div>
