<div class="animate__animated animate__fadeIn"> 
  <div class="p-4">
    <h1 class="text-primary font-bold">PANEL PRINCIPAL</h1>
    <span class="block text-color-secondary font-medium pt-1">
      Dashboard y metricas del sistema
    </span>
  </div>
  <p-card class="mb-3">
    <div class="flex align-items-center gap-3">
      <app-button [label]="'Panel Director'" [routerLink]="'/views/panel-history'"></app-button>
      <app-button [label]="'2024'"></app-button>
      <app-button [label]="'2023'"></app-button>
      <app-button [label]="'2022'"></app-button>
    </div>
  </p-card> 
</div>
