<div class="animate__animated animate__fadeIn">
  <p-card class="mb-3">
    <div class="flex align-items-center justify-content-between">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
      <app-button
        (clicked)="goBack()"
        label="Volver"
        icon="pi pi-arrow-left"
        severity="primary"
      ></app-button>
    </div>
  </p-card>
  <div class="p-4">
    <h1 class="text-primary font-bold">PROGRAMAS</h1>
    <span class="block text-color-secondary font-medium pt-1">
      Tienes 3 programas en curso
    </span>
  </div>
  <p-card class="mb-3">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center gap-3">
        <span class="text-primary font-bold">Cursando:</span>
        <app-button
          [label]="'Programa en el aire'"
          severity="secondary"
        ></app-button>
        <app-button [label]="'Programa en tierra'"></app-button>
      </div>
      <div class="flex align-items-center gap-3">
        <div class="flex align-items-center gap-2">
          <span class="text-primary font-bold">Alumno:</span>
          <p-tag
            value="CAP FAP ANDERSSON YOUSSEF MARCOS LEGUA"
            severity="info"
          />
        </div>
        <p-avatar
          [image]="'assets/images/perfil.jpg'"
          class="w-3rem h-3rem border-3 border-primary"
          [shape]="'circle'"
        />
      </div>
    </div>
  </p-card>
  <div class="flex mt-6">
    <p-card class="flex flex-column p-3 border-round">
      <h3 class="text-primary">Guía de Uso</h3>
      <p>
        1. Selecciona la fase o subfase para ver las misiones asociadas.<br />
        2. Los botones en gris indican subfases ya completadas.<br />
        3. Las misiones activas aparecerán en la parte inferior.<br />
        4. Usa los filtros para ver misiones por piloto o fecha.
      </p>
    </p-card>
    <div class="flex gap-4 ml-6 align-items-start">
      <div>
        <div class="mb-3">
          <span class="text-primary font-bold">Fases:</span>
        </div>
        <div class="flex flex-column gap-2">
          <app-button [label]="'Adaptación'" severity="secondary"></app-button>
          <app-button [label]="'Operaciones Navegabilidad'"></app-button>
          <app-button
            [label]="'Operaciones Helitransportada'"
            severity="secondary"
          ></app-button>
        </div>
      </div>

      <div class="flex flex-column self-center">
        <i class="text-primary pi pi-angle-right" style="font-size: 2rem"></i>
      </div>

      <div class="">
        <div class="mb-3">
          <span class="text-primary font-bold">Fases:</span>
        </div>
        <div class="flex flex-column gap-2">
          <app-button
            [label]="'Adaptación / Familiarización'"
            severity="secondary"
          ></app-button>
          <app-button
            [label]="'Operaciones de Navegabilidad'"
            severity="secondary"
          ></app-button>
          <app-button
            [label]="'Operaciones Helitransportadas / Avanzadas'"
            severity="secondary"
          ></app-button>
          <app-button [label]="'Programa en tierra'"></app-button>
          <app-button
            [label]="'Operaciones en terreno'"
            severity="secondary"
          ></app-button>
        </div>
      </div>

      <div class="flex flex-column self-center">
        <i class="text-primary pi pi-angle-right" style="font-size: 2rem"></i>
      </div>

      <div>
        <div class="mb-3">
          <span class="text-primary font-bold">Sub Fases:</span>
        </div>
        <div class="flex flex-column gap-2">
          <app-button
            [label]="'Operaciones tácticas'"
            severity="secondary"
          ></app-button>
          <app-button [label]="'Navegación avanzada'"></app-button>
          <app-button
            [label]="'Vuelo supervisado solo'"
            severity="secondary"
          ></app-button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h3 class="text-primary mb-3">Resultado de la búsqueda:</h3>
    <p-card
      [routerLink]="'/views/group-present-detail'"
      class="text-center cursor-pointer hover:shadow-4 hover-card"
      [style]="{
        width: '25rem',
        cursor: 'pointer',
        overflow: 'hidden',
        borderTop: '5px solid #003553'
      }"
    >
      <ng-template #title>
        <div class="flex justify-content-between">
          <span class="text-primary font-bold">MISION: CH-1</span>
          <p-tag severity="warn" value="En progreso" />
        </div>
      </ng-template>

      <ng-template #subtitle>
        <div class="flex justify-content-between">
          <span>Aeronavegabilidad</span>
        </div>
      </ng-template>
      <div class="flex gap-3 mt-2">
        <p-card class="bg-gray-100">
          <div class="flex flex-column align-items-center">
            <span class="text-primary font-bold text-3xl">35</span>
            <span class="text-color-secondary font-bold">Alumnos</span>
          </div>
        </p-card>
        <p-card class="bg-gray-100">
          <div class="flex flex-column align-items-center">
            <span class="text-primary font-bold text-3xl">0</span>
            <span class="text-color-secondary font-bold">Graduados</span>
          </div>
        </p-card>
        <p-card class="bg-gray-100">
          <div class="flex flex-column align-items-center">
            <span class="text-primary font-bold text-3xl">65%</span>
            <span class="text-color-secondary font-bold">Progreso</span>
          </div>
        </p-card>
      </div>
    </p-card>
  </div>
</div>
