<div class="layout-wrapper">
  <app-header [isMobile]="isMobile" (sidebarToggle)="toggleSidebar()">
  </app-header>

  <app-sidebar
    *ngIf="showSidebar"
    [collapsed]="sidebarCollapsed"
    [isMobile]="isMobile"
    (toggleSidebar)="onSidebarToggle($event)"
  >
  </app-sidebar>

  <main
    class="main-content"
    [class.expanded]="sidebarCollapsed && !isMobile"
    [class.no-sidebar]="!showSidebar"
  >
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </main>
</div>
