<app-spinner [show]="loading()"></app-spinner>
<div class="animate__animated animate__fadeIn">
  <div class="p-4">
    <h1 class="text-primary font-bold">PANEL DE DIRECTOR</h1>
    <span class="block text-color-secondary font-medium pt-1">
      Gestión de programas PDI y PDE
    </span>
  </div>

  <div class="grid gap-8 justify-content-center pt-5">
    <div class="col-12 md:col-4" *ngFor="let quick of ['PDI', 'PDE']">
      <p-card
        (click)="selectProgram(quick)"
        class="text-center cursor-pointer hover:shadow-4 hover-card"
      >
        <ng-template pTemplate="title">
          <div>
            <i
              style="font-size: 8rem"
              class="pi"
              [ngClass]="{
                'pi-user': quick === 'PDI',
                'pi-search': quick === 'PDE'
              }"
            ></i>
          </div>
        </ng-template>

        <ng-template pTemplate="content">
          <h2 class="text-primary mt-2 text-7xl">{{ quick }}</h2>
          <span *ngIf="quick === 'PDI'">
            <p class="text-primary font-medium text-2xl mt-2">
              Programa de Instrucción Básica
            </p>
            <p class="text-color-secondary text-md mt-1">
              Gestiona promociones y alumnos.
            </p>
          </span>
          <span *ngIf="quick === 'PDE'">
            <p class="text-primary font-medium text-2xl mt-2">
              Programa de Entrenamiento
            </p>
            <p class="text-color-secondary text-md mt-1">
              Búsqueda y consulta de legajos por NSA.
            </p>
          </span>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
<app-modal
  [title]="'Buscar persona'"
  [visible]="showModal()"
  [width]="'550px'"
  [showSaveButton]="false"
  (cancel)="onCancel()"
  [showExtraButton]="true"
  extraButtonLabel="Buscar"
  extraButtonIcon="pi pi-search"
  [extraButtonLoading]="isSearch()"
  extraButtonLoadingText="Buscando..."
  (extraButtonClick)="handleSearch()"
>
  <span class="block text-center my-2">
    <i class="pi pi-graduation-cap text-primary" style="font-size: 6rem"></i>
  </span>

  <div class="flex flex-column align-items-center mb-2">
    <h1 class="text-primary font-bold text-2xl">Búsqueda de Legajo (PDE)</h1>
    <p class="text-center text-base text-color-secondary mt-1 mb-4">
      Ingrese el identificador único **NSA** para consultar el historial
      completo y detallado del participante.
    </p>

    <app-input-field
      icon="pi pi-database"
      placeholder="NSA: 611298"
    ></app-input-field>
  </div>
</app-modal>
