<app-spinner [show]="loading()"></app-spinner>

<!-- Botones de acción -->
<div class="flex gap-3 mb-3 justify-content-end flex-wrap">
  <app-button
    label="Exportar"
    icon="pi pi-file-excel"
    severity="success"
  ></app-button>

  <app-button
    label="Crear escuadrón"
    icon="pi pi-file-plus"
    severity="primary"
    (clicked)="openModal()"
  ></app-button>
</div>

<!-- Tabla -->
<p-card>
  <app-table
    [data]="units()"
    [columns]="columns"
    [rows]="size()"
    [totalRecords]="totalRecords"
    [filterFields]="referencias"
    [showGlobalFilter]="true"
    [showStatusToggle]="true"
    (actionClicked)="handleAction($event)"
    (onPageChange)="onPageChange($event)"
    (onFilterChange)="onFilterTable($event)"
  />
</p-card>

<!-- Modal --><app-modal
  [(visible)]="showModal"
  [saving]="saving"
  [title]="editing ? 'Editar Escuadrón' : 'Crear Escuadrón'"
  (save)="onSave()"
  (cancel)="onCancel()"
>
  <form [formGroup]="unitForm" class="p-fluid space-y-3">
    <div class="flex gap-3">
      <div class="flex-1">
        <app-input-field
          label="Código"
          icon="pi pi-user"
          placeholder="Ingrese el código"
          [control]="nuCodeControl"
        ></app-input-field>
      </div>
      <div class="flex-1">
        <app-input-field
          label="Sigla"
          icon="pi pi-user"
          placeholder="Ingrese la sigla"
          [control]="coAbbreviationControl"
        ></app-input-field>
      </div>
    </div>

    <div class="flex gap-3">
      <div class="flex-1">
        <app-input-field
          label="Nivel"
          icon="pi pi-list"
          placeholder="Ingrese el nivel"
          [control]="nuLevelControl"
        ></app-input-field>
      </div>
      <div class="flex-1">
        <app-input-field
          label="Código Rector"
          icon="pi pi-id-card"
          placeholder="Ingrese código rector"
          [control]="nuRectorCodeControl"
        ></app-input-field>
      </div>
    </div>

    <app-input-field
      label="Descripción"
      icon="pi pi-pencil"
      placeholder="Ingrese la descripción"
      [control]="txDescriptionControl"
    ></app-input-field>

    <app-select-field
      label="Estado"
      placeholder="Seleccione un estado"
      [control]="flStatusControl"
      [options]="statusOptions"
    ></app-select-field>

    <app-input-field
      label="Ruta de Imagen"
      icon="pi pi-image"
      placeholder="Ingrese ruta de imagen"
      [control]="txImagePathControl"
    ></app-input-field>
  </form>
</app-modal>
