<app-spinner [show]="loading()"></app-spinner>
<p-toast />
<p-confirmdialog />

<div class="flex gap-3 mb-3 justify-content-end flex-wrap">
  <app-button
    label="Exportar"
    icon="pi pi-file-excel"
    severity="success"
  ></app-button>

  <app-button
    label="Crear escuadrón"
    icon="pi pi-file-plus"
    severity="primary"
    (clicked)="openModal()"
  ></app-button>
</div>

<p-card>
  <app-table
    [data]="units()"
    [columns]="columns"
    [rows]="size()"
    [totalRecords]="totalRecords"
    [filterFields]="referencias"
    [showGlobalFilter]="true"
    [showStatusToggle]="true"
    (actionClicked)="handleAction($event)"
    (onPageChange)="onPageChange($event)"
    (onFilterChange)="onFilterTable($event)"
  ></app-table>
</p-card>

<app-modal
  [visible]="showModal()"
  [saving]="saving()"
  [showSaveButton]="!viewMode()"
  [title]="editing() ? 'Editar Escuadrón' : viewMode() ? 'Información del Escuadrón' : 'Crear Escuadrón'"
  (save)="onSave()"
  (cancel)="onCancel()"
>
  <form [formGroup]="unitForm" class="p-fluid space-y-3">
    <div class="flex gap-3">
      <div class="flex-1">
        <app-input-field
          label="Código"
          icon="pi pi-user"
          placeholder="Ingrese el código"
          [control]="control('nuCode')"
        ></app-input-field>
      </div>
      <div class="flex-1">
        <app-input-field
          label="Sigla"
          icon="pi pi-user"
          placeholder="Ingrese la sigla"
          [control]="control('coAbbreviation')"
        ></app-input-field>
      </div>
    </div>

    <div class="flex gap-3">
      <div class="flex-1">
        <app-input-field
          label="Nivel"
          icon="pi pi-list"
          placeholder="Ingrese el nivel"
          [control]="control('nuLevel')"
        ></app-input-field>
      </div>
      <div class="flex-1">
        <app-input-field
          label="Código Rector"
          icon="pi pi-id-card"
          placeholder="Ingrese código rector"
          [control]="control('nuRectorCode')"
        ></app-input-field>
      </div>
    </div>

    <app-input-field
      label="Descripción"
      icon="pi pi-pencil"
      placeholder="Ingrese la descripción"
      [control]="control('txDescription')"
    ></app-input-field>

    <app-select-field
      label="Estado"
      placeholder="Seleccione un estado"
      [control]="control('flStatus')"
      [options]="statusOptions"
    ></app-select-field>

    <app-input-field
      label="Ruta de Imagen"
      icon="pi pi-image"
      placeholder="Ingrese ruta de imagen"
      [control]="control('txImagePath')"
    ></app-input-field>
  </form>
</app-modal>
