<app-spinner [show]="loading()"></app-spinner>
<div class="card">
  <div class="flex gap-3 mb-3 justify-content-end flex-wrap">
    <button pButton severity="success" class="w-full md:w-auto">
      <i class="pi pi-file-excel" pButtonIcon></i>
      <span pButtonLabel>Exportar a Excel</span>
    </button>

    <button pButton class="w-full md:w-auto">
      <i class="pi pi-file-plus" pButtonIcon></i>
      <span pButtonLabel>Crear escuadrón</span>
    </button>
  </div>
  <p-card>
    <app-table
      [data]="units()"
      [columns]="columns"
      [rows]="size()"
      [totalRecords]="totalRecords"
      [filterFields]="referencias"
      [showGlobalFilter]="true"
      [showStatusToggle]="true"
      (actionClicked)="handleAction($event)"
      (onPageChange)="onPageChange($event)"
      (onFilterChange)="onFilterTable($event)"/> 
  </p-card>
</div>
